<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入数据库配置 -->
    <properties resource="db.properties"/>

    <!-- 实体类别名 -->
    <typeAliases>
        <package name="com.agri.shop.entity"/>
    </typeAliases>

    <!-- 环境配置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- Mapper映射 修正为MemberMapper.xml -->
    <mappers>
        <mapper resource="com/agri/shop/mapper/MemberMapper.xml"/>
    </mappers>
</configuration>